* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fefffe;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e5fcf5' fill-opacity='0.81' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
}

header {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.logo a {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
  float: none;
}

header ul li:not(:first-child) {
  margin-left: 48px;
}

header ul li:last-child {
  margin-right: 24px;
}

header ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
}

@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
  }

  .header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .header-wrapper ul {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
  }

  .header-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .header-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .header-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .header-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .header-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .header-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .header-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .header-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .header-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .header-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .header-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .header-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#header:checked + .header-btn {
  transform: rotate(45deg);
}

#header:checked + .header-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#header:checked + .header-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#header:checked + .header-btn i:nth-child(2) {
  opacity: 0;
}

#header:checked + .header-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#header:checked ~ .header-wrapper {
  z-index: 9990;
  opacity: 1;
}

#header:checked ~ .header-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}
