@import "hamburger-menu.css";

header {
  position: fixed;
  top: 0;
  padding-bottom: 10px;
}

@media screen and (max-width: 860px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
  .whats_politico {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 30px;
  }
}

@media screen and (max-width: 540px) {
  .cards {
    flex-direction: column;
    padding-bottom: 6px;
    margin: auto;
  }
  .cards p {
    width: auto;
    height: auto;
    padding: 0 55px 0 55px;
  }
}

.header_info {
  margin-top: -18px;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e5fcf5;
  width: 100%;
  text-align: center;
  color: #323533;
  height: auto;
}

.header_info h1 {
  font-size: 50px;
  margin-top: 80px;
}
.header_info h1 span {
  text-transform: uppercase;
  color: #750d37;
}

.header_info h4 {
  margin-top: -35px;
  font-weight: lighter;
  font-size: 140%;
}
.header_info p {
  font-size: larger;
  font-weight: bolder;
}

.header_info p span {
  color: #750d37;
  font-size: 130%;
}
.header_info button {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px 40px;
  width: auto;
  height: auto;
  cursor: pointer;
  line-height: 18px;
  display: inline-block;
  background-color: #210124;
  color: #fff;
  text-transform: uppercase;
}

.why_politico {
  background-color: #b3dec1;
  width: 100%;
  height: auto;
  margin-top: 100px;
  color: #181718;
  text-align: center;
}
.why_politico h1 {
  font-size: 180%;
  padding-top: 25px;
}
.why_politico h1 span {
  color: #750d37;
  font-size: 130%;
  text-transform: uppercase;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
}
.card {
  margin: 5px;
  padding: 10px;
}
.cards h5 {
  font-size: 14px;
  margin-top: 0;
  font-weight: 600;
  line-height: 1.3em;
  font-style: normal;
  margin-bottom: 15px;
}

.whats_politico img {
  width: 100%;
  height: auto;
  padding-top: 30px;
}
.whats_politico {
  display: flex;
  align-items: center;
  width: 100%;
}

.whats_politico article {
  width: auto;
  height: auto;
  margin: 0 30px 0 30px;
  font-size: 0.8em;
}

.footer {
  font-size: 1em;
  font-weight: 600;
  float: right;
  margin-top: 90px;
}
